<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.study.boot.persistence.Transaction1Mapper">
  <cache />
  
    <insert id="buy">
      insert into transaction1 (customerid, amount) values (#{customerid}, #{amount});
    </insert>
</mapper>